<% if @reply.errors.any? %>
      <ul>
      <% @reply.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>
<div class="row">
	<div class="form-group col-lg-12">
		<%= f.label :comment, "回覆" %>
		<%= f.text_area :comment,:class =>"form-control" %>
	</div>
</div>
