<% if @group.errors.any? %>
      <ul>
      <% @group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
<% end %>

	

<div class="form-group col-lg-12">
	<%= f.label :name, "群組名稱" %>
	<%= f.text_field :name   ,:class =>"form-control"%>


</div>


